extends base.pug

block scripts
  script(src='./static/index.js')

block style 
    style
        include ../static/style.css
        include ../static/phone.css
        link(rel='stylesheet', href='../static/phone.css', media='screen and (max-device-width: 1280px)')

block content
    section#introSection
        div Welcome to Srawanti's Dance Academy
        div.small Live and Meditate with dance
    section#MissionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img 
                    img(src="./static/img/bg1.png")
                div.card-content
                    p This is the best dance academy of the universe
        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img 
                    img(src="./static/img/bg4.png")
                div.card-content
                    p This is the best dance academy of the universe
        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img 
                    img(src="./static/img/bg5.png")
                div.card-content
                    p This is the best dance academy of the universe
    section#sponserSection
        h2 Our Sponsers
        div#sponsors
            img(src="./static/img/apple1.png",alt="Sponsor Image", class="spImage")
            img(src="./static/img/micro.png ",alt="Sponsor Image", class="spImage")
            img(src="./static/img/skype.jpg ",alt="Sponsor Image", class="spImage")
            img(src="./static/img/google.png",alt="Sponsor Image", class="spImage")

